src/services/n8n-schema.json
{
  "name": "Smart Recipe Generator",
  "nodes": [
    {
      "parameters": {
        "path": "generate-recipes",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "webhookId": "generate-recipes"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "You are a professional chef. Create a recipe using these ingredients: {{$json.body.ingredients}}. \n\nReturn ONLY a JSON object with this exact schema:\n{\n  \"name\": \"Recipe Name\",\n  \"description\": \"Short description\",\n  \"ingredients\": [\"ingredient 1\", \"ingredient 2\"],\n  \"steps\": [\"step 1\", \"step 2\"],\n  \"time\": \"30 min\",\n  \"servings\": 2,\n  \"matchScore\": 85,\n  \"missing\": 0\n}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "openai-recipe",
      "name": "OpenAI Recipe",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "Professional food photography of {{$json.name}}, {{$json.description}}. High resolution, delicious, restaurant style.",
        "n": 1,
        "size": "1024x1024",
        "responseFormat": "url"
      },
      "id": "openai-image",
      "name": "OpenAI Image",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "table": "recipes",
        "columns": "name, description, ingredients, steps, time, servings, image_url, user_id",
        "options": {}
      },
      "id": "supabase-insert",
      "name": "Supabase Insert",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const recipe = $(\"OpenAI Recipe\").first().json;\nconst imageUrl = $(\"OpenAI Image\").first().json.data[0].url;\nconst userId = $(\"Webhook\").first().json.body.userId;\n\nreturn {\n  name: recipe.name,\n  description: recipe.description,\n  ingredients: recipe.ingredients,\n  steps: recipe.steps,\n  time: recipe.time,\n  servings: recipe.servings,\n  image_url: imageUrl,\n  user_id: userId\n};"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        140
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Recipe": {
      "main": [
        [
          {
            "node": "OpenAI Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Image": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}